/*Loading Screen to cover awkwardness*/
#splashscreen {
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color:#f50;
    font-family: 'Droid Sans', sans-serif;
    color:#fff;
    text-align: center;
    font-size: 4rem;
    text-shadow: 0px 0px 20px #a10;
    padding: 0px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

/*Body bg stuff and fonts*/
html { 
    background-color:#f50;
    background: url(bg_newsbeard.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



body
{
    background-color:#f50;
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    opacity:0.85;
    color:#fff;
    position: inherit;
    padding: 6px;
}



/*Title bar styling*/


div.rss-title
{
    background: #f50;
    color: #fff;
    display: inline-block;
    text-align: left;
    font-size: 3em;
    padding-bottom: 2px;
    border-bottom: 2px solid #f50;
    font-family: 'Droid Sans', sans-serif;
    text-shadow: 0px 0px 5px #a10;
    
     /* text-shadow: 1px 1px 1px #c20; */   
}
select 
{   
    background: transparent;
    padding: 7px;
    color:#222;
    border: none;
    float: right;
    font-size: 2em;
    line-height: 2em;
    outline: 0px;
    cursor:pointer;
    font-family: 'Droid Sans', sans-serif;
    background: #ee4400;
    color: #fefefe;
}

div.rss-title a
{
    background: #f50;
    color: #fff;
    margin: 0px;
    display: inline;
} 


/*RSS Feed styling*/
#rssdata ul.rss-items
{
    display: none;
    margin: 0;
    padding: 0px;
    font-size: 1.5em;
    font-family: 'Droid Sans', serif;
	
}

#rssdata ul.rss-items li
{
    display: block;
    margin: 0;
    padding: 0;
    text-indent: 0px;

}

#rssdata ul.rss-items a
{
    margin: 0;
    display: block;
    padding: 3px 3px 3px 3px;
    background: #bbb;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    text-indent: 0px;
}

#rssdata ul.rss-items a:hover
{
    background: #f50;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 5px #a10;
} 


/*RSS Footer styling*/
.rss-footer
{
    background: #f50;
    color: #fff;
    height: 90px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    opacity:0.85;
    color:#fff;
    position: inherit;
    padding: 6px;
    
}




